# --- build directory and cmake artifacts --
build/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
compile_commands.json
CTestTestfile.cmake
perf.data
perf.data.old
Makefile
cmake_install.cmake
Testing/
_deps/
.cache/

# --- github template --- 
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
